In [1]:
from pathlib import Path

import pandas as pd

In [5]:
df = pd.read_csv(
    Path("").absolute() / "data" / "transformed" / "org-members.csv",
    parse_dates=["created_at", "updated_at"],
)

In [6]:
df.groupby("org").size().rename("count").sort_values(
    ascending=False
).reset_index().head(10)

               org  count
0        bloomberg     39
1         guardian     29
2          nytimes     26
3         globocom     25
4     opennewslabs     18
5  financial-times     17
6            nrkno     17
7    documentcloud     14
8             kqed     13
9            bbcrd     12